<div class ="row">
    <% @posts.each do |post| %>
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <%= post.title %>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><%= post.body%></p>
                        <footer class="blockquote-footer">
                            posted on
                            <cite title="Source Title">
                            <%= time_ago_in_words post.created_at %></cite>
                            by <%= post.user.username%>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    <% end %>
</div>