<div class="col-md-3">
    <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Posts', posts_path, class: "nav-link" %></li>
    <li class="list-group-item"><%= link_to 'Categories', categories_path, class: "nav-link" %></li>
    <li class="list-group-item"><%= link_to 'Manage Tags', tags_path, class: "nav-link" %></li>
    </ul>
</div>